
<div class="container">
    <h1>Group Details</h1>

    <%if @groups.icon.persisted? && @groups.icon.image? %>
        <%= image_tag @groups.icon   %>
    <%end %>
    <p><%= @groups.name  %></p>

    <%# show purchase of the group %>
         <% @groups.purchases.each do |p| %>
                <p>
                    <%= p.name %>
                    <%= p.amount %>
                </p>
            <% end %>
</div>
