        <header>
          <div class="top_navbar">
            <div class="hamburger">
              <a href="#">
                <i class="fas fa-bars"></i>
              </a>
            </div>
            <div class="topbar-icons">
              <span><i class="fa fa-user"></i>Anas Najaa</span>
              <span><i class="fa fa-power-off"></i>Sign Out</span>            
              <span><i class="fa fa-globe"></i> العربية </span>
            </div>
          </div>
        </header>