      <div class="sidebar">
        <ul id="accordion">
          <li>
            <a href="#dashboard" data-bs-toggle="collapse" >
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="item">Dashboard</span>
              <span class="open-collapse"
                ><i class="fas fa-angle-right"></i
              ></span>
            </a>
            <div id="dashboard" class="collapse subitem" data-bs-parent="#accordion">
              <a id="MonthlyReportBtn" class="sidebarlinks">Monthly Report</a>
            </div>
          </li>
        </ul>
    </div>